body{
    background-image: url("./images/akanbg2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    padding: 10px;
    font-weight: 700;
    
    
}
footer{
    padding: 2px;
    text-align: center;
    background-color: lightskyblue;
    color: black;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.container{
    text-align: center;
    width: 80%;
    background-color: teal;
    
}
h1{
    color: white;
    text-align: center;
    text-shadow: 2px white solid;
}
#akan{
    color: white;
    text-align: center;
    font-size: large;
    font-weight: 700;
}
h3{
    color: white;
}